<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>test_teamProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>MemberFrontController</servlet-name>
		<servlet-class>net.member.action.MemberFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberFrontController</servlet-name>
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BoardFrontController</servlet-name>
		<servlet-class>net.FBoard.action.BoardFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardFrontController</servlet-name>
		<url-pattern>*.bo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CommentFrontController</servlet-name>
		<servlet-class>net.FComment.action.CommentFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentFrontController</servlet-name>
		<url-pattern>*.co</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ToDoFrontController</servlet-name>
		<servlet-class>net.ToDo.action.ToDoFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ToDoFrontController</servlet-name>
		<url-pattern>*.td</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProtoFrontController</servlet-name>
		<servlet-class>com.project.action.ProtoFrontController</servlet-class>
		<init-param>
			<param-name>configProp</param-name>
			<param-value>/WEB-INF/config/proto.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProtoFrontController</servlet-name>
		<url-pattern>*.pr</url-pattern>
	</servlet-mapping>

</web-app>